---
layout: default
---
<div id="container">
<div id="grid" data-columns class="cols">
    {% for post in site.posts %}
    <div class="box" style="background-color:#{{post.color}}">
       {% if post.img %}
          <div class="feat-image">
            {% if post.target_url %}
              <a href="{{ post.img }}" target="_blank">
            {% endif %}
            <img src="{{ post.img }}" alt="{{post.title}}">
            {% if post.target_url %}
              </a>
            {% endif %}
          </div>
       {% endif %}
          <div class="container">
            <h4>{{post.title}}</h4>
            <p>{{post.description}}</p>
        </div>   
    </div>
   {% endfor %}

</div>
</div>

<script src="{{site.baseurl}}/js/salvattore.min.js"></script>